name: CI

on: push

jobs:
  bless:
    name: Bless
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install cargo
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - name: Install tree-sitter-cli
        run: cargo install tree-sitter-cli

      - name: Install Node
        uses: actions/setup-node@v2
        with:
          node-version: "14.x"

      - name: Cache npm dependencies
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install npm dependencies
        run: npm ci

      - name: Ensure generated parser files are up to date
        run: tree-sitter generate

      - name: Run tree-sitter tests
        run: tree-sitter test

      - name: Check formatting
        run: npm run format-check
